<div class="tab-autocontrol">
	<div class="top">
        <div class="topleft">
		    <tr>
		        <td><label><b i18n="script"></b></label></td>
			    <td><select class="dropdownScripts" name="scriptSelect"></select></td>
		    </tr>
		</div>
        <div class="topright">
		    <div class="buttons">
		        <a class="run-button" href="#"></a>
		    </div>
		    <div class="buttons">
		        <a class="clone-button" href="#" i18n="cloneScriptButton"></a>
		    </div>
		    <div class="buttons">
		        <a class="edit-button" href="#" i18n="editScriptButton"></a>
		    </div>
		</div>
		<br></br>
	</div>
    <div class="bar"></div>
	</br>
	<div class="lowerScriptContent">
	</div>
	<div class="runScriptWindow" style="display: none;">
	</div>
</div>