﻿.tab-autocontrol .lowerScriptContent .editorRight {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    width: 170px;
    font-size: small;
}

.tab-autocontrol .lowerScriptContent .editorRight input {
   	border: 1px silver solid;
    width: 125px;
    height: 23px;
    line-height: 23px;
    margin: 4px;
}

.tab-autocontrol .lowerScriptContent .editorRight #scriptFileSaveStatus {
    margin-left: 4px;
}


#autocontrol-editor {
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 170px;
}