<div class="editorRight">
	<span i18n="customerScriptingTip1"></span>
	<br><br><span i18n="get_started"></span> <a href="https://www.youtube.com/watch?v=2CYWFWXhhQs" target="_blank"><span style="color:#FF9201; font-weight:bold; font:"><u><span i18n="get_started_video"></span></u></span></a>
    <br><span i18n="our"></span> <a href="https://api.rcbenchmark.com/rcbgui/v11/" target="_blank"><span style="color:#FF9201; font-weight:bold; font:"><u>RCB API</u></span></a> <span i18n="interface"></span>
	<br><span i18n="the"></span> <a href="http://mathjs.org" target="_blank"><span style="color:#FF9201; font-weight:bold; font:"><u i18n="math"></u></span></a> <span i18n="library"></span>
	<br><br><span i18n="customerScriptingTip2"></span>
	<br>
	<div>
		<br>
		<p id="scriptFileLabel" i18n="fileName"></p>
		<input type="text" id="scriptFileName" name="fname" value="">.js<br>
		<p id="scriptFileSaveStatus"></p>
	</div>
</div>
<pre id="autocontrol-editor"></pre>