.runScript .left {
    width: 40%;
	text-align:center;
}
.runScript .right {
    float: left;

    margin-left: 10px;
    width: calc(57% - 10px);
}

.runScript .console {	
	height: 220px;
	border: 1px solid silver;
	background-color: white;
	overflow-y: scroll;
	font-size: small;
}

.runScript .console .wrapper {
    padding: 5px;

    -webkit-user-select: text;
}

.runScript .console p {
    margin-bottom: 2px;
}

.runScript .console a {
    font-weight: bold;
}
.runScript .console a:hover {
    text-decoration: underline;
}

.runScript .notice {
    width: 90%;
	font-size: small;
    padding: 5px;
	margin-left: 6px;
    border: 1px dotted silver;
    
    text-align: justify;
}

.runScript .start-button {
	border: 1px dotted silver;
	font-size: 30px;
	padding:10px;
    font-weight: bold;
	margin-top: 150px;
}
.runScript .start-state{
	background-color: #007A00;
    color: black;
}

.runScript .start-state:hover{
	
	background-color: #339533;
	cursor: hand;
}

.runScript .stop-state{
	background-color: #CC0000;
    color: white;
}

.runScript .stop-state:hover{
	
	background-color: #FF0000;
	cursor: hand;
}
