﻿.tab-database .top .topleft {
	margin-top:	6px;
    width: 45%;
	float:left;
	height:30px;
}
.tab-database .top .topright {
    float: left;
    height:30px;
    width: 55%;
}

.tab-database .top .topleft .dropdownScripts {
	width:210px;
}

.tab-database .bar {
    width: calc(100%);
    background-color:orange;
    height:3px
}

.tab-database {
    height:100%;
}

.tab-database .lowerScriptContent {
  padding-top: 8px;
  padding-bottom: 10px;
}

.tab-database .buttons {
    /*margin-top: 10px;*/
    bottom: 10px;
}
.tab-database .buttons a {
    display: block;
    float: left;

    margin: 0 10px 5px 0;
    padding: 0 15px 0 15px;
	width: 60px;

    height: 23px;
    line-height: 23px;
    text-align: center;
    /*font-weight: bold;*/

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-database .buttons a:hover {
    background-color: #dedcdc;
}

.tab-database #database-test-title{
    border: silver 1px solid;
    width: calc(100% - 20px);
    margin-top: 3px;
    padding: 5px;
}

.tab-database textarea{
  border: silver 1px solid;
  width: calc(100% - 20px);
  margin-top: 3px;
  padding: 5px;
  resize: none;
}

.tab-database select{
    border-bottom: silver 1px solid;
}