<div class="tab-database">
	<div class="top">
        <p><span i18n="englishOnly"></span>Contribute test data to the <a href="https://database.rcbenchmark.com" target="_blank"><span style="color:#FF9201; font-weight:bold; font:"><u>RCbenchmark database.</u></span></a>
        <div class="topleft">
		    <tr>
		        <td><label><b>Script:</b></label></td>
			    <td><select class="dropdownScripts" name="scriptSelect"></select></td>
		    </tr>
		</div>
        <div class="topright">
		    <div class="buttons">
		        <a class="run-button" href="#" i18n="runScriptButton" id="database-run-script"></a>
		    </div>
		</div>
		<br><br>
	</div>
    <div class="bar"></div>
    <div id="no-database-script"><br/>No programming needed!<br/><br/>Our included scripts will automate the whole process of testing your current setup. After running the test, our software will automatically upload data online, where you will have a chance to specify the test details (motor, propeller, description, etc...).<br/><br>Just select a script from the list above, and press "Run".</div>
	<div class="lowerScriptContent">
	</div>
    <div class="runScriptWindow" style="display: none;">
	</div>
</div>