<div class="runScript" style="padding-top: 15px">
	<div class="left">
		</br>
		<div class="notice" i18n="motorsNotice"></div>
		<div class="clear-both"></div>
		<div style="margin-top:25px"><a class="buttons start-button" id="database-start-button" href="#" i18n="startButton"></a></div>
	</div>
	<div class="right">
		<p style="font-size:small; font-weight: bold">Console:</p>
		<div id="database-console" class="console">
			<div class="wrapper">
			</div>
			<iframe id="sandboxFrame" src="tabs/autocontrol/sandbox.html" height=0 width=0></iframe>
		</div>
        <p style="font-size:smaller; display:none" id="longConsoleNotice"><br/>The console has a lot of text! It affects the sample rate and can cause stability issues. Call the console.log.clear() function regularly in your script or reduce the amount of printed text.</p>
	</div>
</div>