﻿.tab-database {
  height: 100%;
}

.tab-database .lowerScriptContent .editorLeft {
    float: left;
    margin-right: 5px;
    width: 35%;
    font-size: small;
    height: 100%;
    overflow-y: auto;
}

#database-editor {
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 170px;
    height: 100%;
}