﻿<div class="editorLeft">
	<p><strong>Test title</strong><br/><input type="text" maxlength="50" id="database-test-title"></p>
    <p id="readOnlyMessage">
      <span id="database-user-params"></span>
    </p>
</div>
<pre id="database-editor"></pre>