.tab-cutoffs #limits {
	width: 80%;
	position: relative;
	margin: 10px 10px 0px 0px;
    border: 1px solid black;
    border-collapse: collapse;
}
.tab-cutoffs #reverse_switch {
	width: auto;
}
.tab-cutoffs th, td {
    padding: 5px;
}
.tab-cutoffs th, td.value{
	text-align: center;
}
.tab-cutoffs .warning{
}
.tab-cutoffs input {
	border-bottom: 1px solid gray;
	text-align: center;
	width: 65px;
}

.tab-cutoffs .left {
    width: 60%;
}
.tab-cutoffs .right {
    float: left;

    margin-left: 10px;
    width: calc(40% - 10px);
}
.tab-cutoffs #log {
    margin: -10px -10px 4px -10px;
	
    height: 150px;

    border: 1px solid silver;
    background-color: rgba(238, 237, 231, 0.5);

    overflow-y: scroll;
}
.tab-cutoffs #log .wrapper {
    padding: 5px;

    -webkit-user-select: text;
}
.tab-cutoffs #log a {
    font-weight: bold;
}
.tab-cutoffs #log a:hover {
    text-decoration: underline;
}

.tab-cutoffs .section {
    margin-bottom: 10px;
}

.left .section:last-child,
.right .section:last-child {
    margin-bottom: 0px;
}

.tab-cutoffs .optional_permissions {
    display: none;

    border: 1px solid silver;
}
.tab-cutoffs .optional_permissions .title {
    line-height: 20px;

    text-align: center;
    font-weight: bold;
    color: white;

    border-bottom: 1px solid silver;
    background-color: #cd4c4c;
}
.tab-cutoffs .optional_permissions p {
    padding: 5px;
}
.tab-cutoffs .optional_permissions a {
    display: block;
    float: left;

    height: 28px;
    line-height: 28px;

    margin: 0 0 5px 5px;
    padding: 0 15px 0 15px;

    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-cutoffs .optional_permissions a:hover {
    background-color: #dedcdc;
}

.welcome {
    height: 207px;
}

.contributing,
.welcome {
    padding: 5px;
    border: 1px solid silver;
}

.contributing a,
.welcome a {
    font-weight: bold;
}
.contributing a:hover,
.welcome a:hover {
    text-decoration: underline;
}

.contributing li {
    list-style-type: disc;
    list-style-position: initial;
    margin-left: 20px;
}

.changelog {
    border: 1px solid silver;
}
.changelog .title {
    line-height: 20px;

    text-align: center;
    font-weight: bold;
    color: white;

    border-bottom: 1px solid silver;
    background-color: #3f4241;
}
.changelog .wrapper {
    height: 150px;

    padding: 5px;

    overflow-y: scroll;
    overflow-x: hidden;

    -webkit-user-select: text;
}
.changelog .wrapper span {
    font-weight: bold;
}
.changelog .wrapper p {
    margin-bottom: 5px;
}

.donate {
    height: 92px;
    border: 1px solid silver;
}

.section .title {
    line-height: 20px;

    text-align: center;
    font-weight: bold;
    color: white;

    border-bottom: 1px solid silver;
    background-color: #3f4241;
}
.donate p {
    padding: 5px;
}
.donate a {
    display: block;

    width: 74px;
    height: 21px;

    margin: auto;
}

.tab-cutoffs .sponsors {
    height: 254px;
    border: 1px solid silver;
}
.tab-cutoffs .sponsors p {
    padding: 5px;
}
.tab-cutoffs .sponsors p a {
    font-weight: bold;
}
.tab-cutoffs .sponsors p a:hover {
    text-decoration: underline;
}
.tab-cutoffs .header{
	height: 132px;
	text-align: center;
	font-size: 20px;
}
.tab-cutoffs #cutoffs-logo{
	position: relative;
	top: -20px;
	height: auto;
	width: 450px;
}
.tab-cutoffs p#description{
	position: relative;
	top: -35px;
}
.tab-cutoffs #cutoffs-left {
	padding: 15px 15px 15px 50px;
	height: inherit;
	float: left;
	width: calc(50% - 60px);
}
.tab-cutoffs #cutoffs-right {
	padding: 15px;
	height: inherit;
	float: right;
	width: calc(50% - 60px);
}
.tab-cutoffs #footer-right {
	height: inherit;
	float: right;
}
.tab-cutoffs a.link {
	text-decoration: underline;
}
.tab-cutoffs li {
	list-style-type: disc;
	font-size: 16px;
}
.tab-cutoffs a.button {
	position: relative;
	top: 50px;
	left: 40px;
    display: block;
    float: left;

    margin: 0 10px 0 0;
    padding: 0 15px 0 15px;

    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-cutoffs a.button:hover {
    background-color: #dedcdc;
}
.tab-cutoffs .tyto-logo{
	top: 20px;
	position: relative;
	float: right;
	height: auto;
	width: 200px;
}
.tab-cutoffs p.tyto-logo{
	float: left;
	position: relative;
	top: 50px;
	left: 55px;
}