<div id="burstCurrentDialog" style="display:none">	</div>
<div class="tab-cutoffs">
    <p><span id="cutoffValueMessage"></span><span class="microseconds"> (&micro;s)</span></p>
    <div class="1780 reverse_switch_chk">
      <label>
          <input id="reverse_switch" type="checkbox" />&nbsp; <span i18n="reverseCutOffTips"></span>
      </label>
      <br/><br/>
    </div>
	<p class="warning" i18n="cutOffWarning"></p>
	<table id="limits">
		<tr>
			<th></th>
			<th i18n="min"></th>		
			<th i18n="max"></th>
			<th i18n="system"></th>
		</tr>
		<tr>
			<td><span class="1780Bside"><span i18n="sideA"></span>: </span> <span i18n="cutoffVoltage"></span></td>
			<td class="value"><input id="voltageMin" type="number"></td>
			<td class="value"><input id="voltageMax" type="number"></td>
			<td class="value" id="systemVoltage"></td>	
		</tr>
		<tr>
			<td><span class="1780Bside"><span i18n="sideA"></span>: </span><span i18n="cutoffContinuousCurrent"></span> <img id="cablesWarning" src="images/exclamation.png" i18n_title="toReduceRiskOfFireUseTips" height="15" width="15"></td>
			<td class="value"><input id="currentMin" type="number"></td>
			<td class="value"><input id="currentMax" type="number"></td>
			<td class="value" id="systemCurrent"></td>
		</tr>
        <tr>
			<td><span class="1780Bside"><span i18n="sideA"></span>: </span><span i18n="cutoffBurstCurrent"></span> <img style="cursor: pointer;" id="burstCurrentPopup" src="images/question.png" alt="burst current popup" height="15" width="15"></td>
			<td class="value"><input id="currentBurstMin" type="number"></td>
			<td class="value"><input id="currentBurstMax" type="number"></td>
			<td class="value" id="systemCurrentBurst"></td>
		</tr>
        <tr>
			<td><span class="1780Bside"><span i18n="sideA"></span>: </span>  <span i18n="cutoffPower"></span> </td>
			<td class="value"><input id="powerMin" type="number"></td>
			<td class="value"><input id="powerMax" type="number"></td>
			<td class="value" id="systemPower"></td>
		</tr>
		<tr>
			<td id="thrustUnit"></td>
			<td class="value"><input id="thrustMin" type="number" name="thrust"></td>
			<td class="value"><input id="thrustMax" type="number" name="thrust"></td>
			<td class="value" id="systemThrust"></td>
		</tr>
		<tr class="1580 1780">
			<td id="torqueUnit"></td>
			<td class="value"><input id="torqueMin" type="number" name="torque"></td>
			<td class="value"><input id="torqueMax" type="number" name="torque"></td>
			<td class="value" id="systemTorque"></td>
		</tr>
		<tr>
			<td id="motorSpeedUnit"></td>
			<td class="value"><input id="rpmMin" type="number" name="motorSpeed"></td>
			<td class="value"><input id="rpmMax" type="number" name="motorSpeed"></td>
			<td class="value" id="systemRpm"></td>
		</tr>
      
      
      
        <tr class="1780Bside">
			<td><span i18n="sideB"></span>:  <span i18n="cutoffVoltage"></span></td>
			<td class="value"><input id="voltageMinB" type="number"></td>
			<td class="value"><input id="voltageMaxB" type="number"></td>
			<td class="value" id="systemVoltageB"></td>	
		</tr>
		<tr class="1780Bside">
			<td><span class="1780Bside"><span i18n="sideB"></span>: </span>  <span i18n="cutoffContinuousCurrent"></span> <img id="cablesWarning" src="images/exclamation.png" i18n_title="toReduceRiskOfFireUseTips" height="15" width="15"></td>
			<td class="value"><input id="currentMinB" type="number"></td>
			<td class="value"><input id="currentMaxB" type="number"></td>
			<td class="value" id="systemCurrentB"></td>
		</tr>
        <tr class="1780Bside">
			<td><span class="1780Bside"><span i18n="sideB"></span>: </span>  <span i18n="cutoffBurstCurrent"></span><img style="cursor: pointer;" id="burstCurrentPopup" src="images/question.png" alt="burst current popup" height="15" width="15"></td>
			<td class="value"><input id="currentBurstMinB" type="number"></td>
			<td class="value"><input id="currentBurstMaxB" type="number"></td>
			<td class="value" id="systemCurrentBurstB"></td>
		</tr>
        <tr class="1780Bside">
			<td><span class="1780Bside"><span i18n="sideB"></span>: </span> <span i18n="cutoffPower"></span></td>
			<td class="value"><input id="powerMinB" type="number"></td>
			<td class="value"><input id="powerMaxB" type="number"></td>
			<td class="value" id="systemPowerB"></td>
		</tr>
		<tr class="1780Bside">
			<td id="thrustUnitB"></td>
			<td class="value"><input id="thrustMinB" type="number" name="thrust"></td>
			<td class="value"><input id="thrustMaxB" type="number" name="thrust"></td>
			<td class="value" id="systemThrustB"></td>
		</tr>
		<tr class="1780Bside">
			<td id="torqueUnitB"></td>
			<td class="value"><input id="torqueMinB" type="number" name="torque"></td>
			<td class="value"><input id="torqueMaxB" type="number" name="torque"></td>
			<td class="value" id="systemTorqueB"></td>
		</tr>
		<tr class="1780Bside">
			<td id="motorSpeedUnitB"></td>
			<td class="value"><input id="rpmMinB" type="number" name="motorSpeed"></td>
			<td class="value"><input id="rpmMaxB" type="number" name="motorSpeed"></td>
			<td class="value" id="systemRpmB"></td>
		</tr>
      
      
        <tr class="1580">
			<td><span i18n="cutoffVibration"></span> <img src="images/question.png" title="High vibrations may damage equipment and loosen fasteners. Consider balancing your load instead of increasing the limit." i18n_title="highVibrationTips" height="15" width="15"></td>
			<td class="value"><input id="vibrationMin" type="number"></td>
			<td class="value"><input id="vibrationMax" type="number"></td>
			<td class="value" id="systemVibration"></td>
		</tr>
        <tr id=cutoffRowTemp1 style="display: none;">
			<td id="temperatureUnit1"></td>
			<td class="value"><input id="temp1Min" type="number" name="temp1"></td>
			<td class="value"><input id="temp1Max" type="number" name="temp1"></td>
			<td class="value" id="systemTemp"></td>
		</tr>
        <tr id=cutoffRowTemp2 style="display: none;">
            <td id="temperatureUnit2"></td>
            <td class="value"><input id="temp2Min" type="number" name="temp2"></td>
            <td class="value"><input id="temp2Max" type="number" name="temp2"></td>
            <td class="value" id="systemTemp"></td>
        </tr>
        <tr id=cutoffRowTemp3 style="display: none;">
			<td id="temperatureUnit3"></td>
			<td class="value"><input id="temp3Min" type="number" name="temp3"></td>
			<td class="value"><input id="temp3Max" type="number" name="temp3"></td>
			<td class="value" id="systemTemp"></td>
		</tr>
      <tr id=cutoffRowTemp4 style="display: none;">
			<td id="temperatureUnit4"></td>
			<td class="value"><input id="temp4Min" type="number" name="temp4"></td>
			<td class="value"><input id="temp4Max" type="number" name="temp4"></td>
			<td class="value" id="systemTemp"></td>
		</tr>
        <tr id=cutoffRowTemp5 style="display: none;">
            <td id="temperatureUnit5"></td>
            <td class="value"><input id="temp5Min" type="number" name="temp5"></td>
            <td class="value"><input id="temp5Max" type="number" name="temp5"></td>
            <td class="value" id="systemTemp"></td>
        </tr>
        <tr id=cutoffRowTemp6 style="display: none;">
			<td id="temperatureUnit6"></td>
			<td class="value"><input id="temp6Min" type="number" name="temp6"></td>
			<td class="value"><input id="temp6Max" type="number" name="temp6"></td>
			<td class="value" id="systemTemp"></td>
		</tr>
	</table>
  <br/>
</div>