<div class="tab-landing">
    <!--<div class="header">
        <a href="https://store.rcbenchmark.com/" target="_blank">
		  <img id="landing-logo" src="images/light-wide-1.svg" alt="RCbenchmark Logo">
        </a>
		<p id="logo-title">Motor and Propeller Test Tools</p>
	</div>-->
	<div class="clear-both"></div>
    <div id="landing-left">
		<div class="clear-both"></div>
		<div class="section">
			<h4 i18n="newsTips"></h4>
			<img class="black-line" src="images/black_line.png">
			<div class="clear-both"></div>
			<ul class="newsSection">
                <li id="loading-news"></li>
                <div id="news-error"></div>
            </ul>
            <br>
			<div class="clear-both"></div>
		</div>
		<div class="clear-both"></div>
		<div class="section">
			<h4 i18n="appInformation"></h4>
			<img class="black-line" src="images/black_line.png">
                <a class="button-std-config app-info-btn" id="credits" href="#" i18n="buttonCredit"></a><br/>
                <a class="button-std-config app-info-btn" id="changeLog" href="#" i18n="buttonChangeLog"></a>
			<div class="clear-both"></div>	
		</div>
		<div class="clear-both"></div>		
	</div>
    
	<div id="landing-right">
        <div class="section" >
            <h4 i18n="tellUsAnything"></h4>
            <img class="black-line" src="images/black_line.png">
		    <div class="clear-both"></div>
            <div id="landing-right-feedback">
                <textarea id="feedback" i18n_placeholder="feedback"></textarea>
                <textarea id="feedback-email" i18n_placeholder="email"></textarea>
                <div id="landing-right-button" class="button-submit">
                    <a class="submit-feedback button button-std-config" id='submitForm' href="#" i18n="buttonSubmit"></a></div>
                </div>
                <div style="padding-top:3px;" id="feedback-error"></div>
                <div style="padding-top:3px;" i18n="vote_ideas"></div>
            </div>
        
        
        
        <h4 style="padding-top:10px;" i18n="update"></h4>
            <img class="black-line" src="images/black_line.png">
        
        
        <ul class="updateValidate" id="updateValidate" style="padding:0px;"></ul>        
        <div class="section" id="updateSection" style="display:none">
            <ul class="td1" style="padding-left:0px; padding-bottom: 5px; color:green;"></ul>
            <a class="button-std-config app-info-btn" id="updateButton" href="#" i18n="updateButton"></a>
        </div>
        
        
        
    </div>
</div>
    <div id="showDialog" style="display:none"></div> 