/* 
    Created on : 2015-09-28, 21:58:24 (GMT+2) 
    Author     : André Robillard, Stockholm, Sweden
	 E-Mail:  andre at robipro dot com
*/

/*GENERAL*/
.button-std-config {
	height: 25px;
	line-height: 25px;
	width: 160px;
    display: inline-block;
	text-align: center;
	font-weight: bold;
	/*decoration*/
	border: 1px solid silver;
	background-color: #ececec;
	white-space: nowrap;
}
a.button-std-config:hover {
	background-color: #dedcdc;
}

/** SETUP **/
/*Flash Firmaware*/
#setup-firmware-update-button a.flash-firmware {
	width: 200px;
}
/*Working Directory*/
#setup-working-directory-button a.button-directory {
	width: 24px;
}

/** UTILITIES **/
/* Get Ohm */
#utilities-read-ohm-button a.button {
	width: 100px;
}

/* Calibration */
#utilities-calibration-buttons a.button {
	width: 200px;
}

/** CONTROL **/
#logControl .button {
	width: 100px;
}


