
<div id="poles-popup" title="Number of poles">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h3 i18n= "howCutOffWork"></h3>
        <p i18n= "howCutOffWorkExplaination">
        </p>
        <h3 i18n= "technicalDetails"></h3>
        <p i18n= "technicalDetailsExplaination">
        </p>
    </div>
</div>