/* 
    Created on : 2015-09-28, 21:58:24 (GMT+2) 
    Author     : André Robillard, Stockholm, Sweden
	 E-Mail:  andre at robipro dot com
*/

/*GENERAL*/
a.button-std-config {
	height: 27px;
	line-height: 27px;
	width: 160px;
	text-align: center;
	font-weight: bold;
	color: green;
}

/* BUTTON CREDIT */
#landing-left-button a.credits {
	color: red;
}

