<div id="poles-popup">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h3 i18n="Choose the main RPM sensor"></h3>
           <span i18n="mainRPMsensorPageMessage"></span>
    </div>
</div>