
<div id="poles-popup">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h2 i18n="howToDetermineTheNumberOfBrushless"></h2>
        </br>
        <h3 i18n="why"></h3>
		<p i18n="readMotorPolesInstruction"></p>
		</br>
        <h3 i18n="brushlessOtrunners"></h3>
        </br>
        <div  style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
              <img src="images/motorod.jpg" alt="Fig. 1: Picture of an outrunner's number of poles.">
              <figcaption><small i18n="fig.1"></small></figcaption>
            </figure>
        </div>
        </br>        
		<p i18n="methodKnownPoles"></p>
        <h3 i18n="brushlessInrunners"></h3>
        <p i18n="brushlessInrunners1">
        </p>
        </br>
        <h3 i18n="generalMethods"></h3>
        <p i18n="generalMethods1"></p>            
		<h4 i18n="experimentally"></h4>
<p><br><span i18n="experimentally1"></span><br><br>
<strong>1)</strong> <span i18n="step1"></span></br>
<strong>2)</strong> <span i18n="step2"></span></br>
</br>
<div  style='margin-right: auto; margin-left: auto;text-align: center'>
    <img src="images/polesScript.png">
</div>
</br> 
<strong>3)</strong><span i18n="step3"></span></br>
<strong>4)</strong><span i18n="step4"></span></br>
</br>
<div  style='margin-right: auto; margin-left: auto;text-align: center'>
    <img src="images/polesScript2.png">
</div>
</br>   
<strong>5)</strong><span i18n="step5"></span></br>
<strong>6)</strong><span i18n="step6"></span></br>
</br>
<div  style='margin-right: auto; margin-left: auto;text-align: center'>
    <img src="images/polesScript3.png">
</div>
</br> 
</p>
<h4 i18n="online"></h4>
<p>
<span i18n="online1"></span> <a href="http://www.rcgroups.com/forums/showthread.php?t=1105695" target="_blank" style = "text-decoration: underline;"i18n="online2"></a> <span i18n="online3"></span></br></br>
</p>
<h4 i18n="screwdriver"></h4>
<p i18n="screwdriver1"></p>
        <h3 i18n="theory"></h3>
        <p i18n="theory1"></p>
    </div>
</div>