
<div id="poles-popup">
    <span class="ui-state-default">
      <span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span>
    </span>
    <div style="margin-left: 23px;">
        <h2 i18n="howToInstallAndUseOpticalRPMsensor"></h2>
        <h3 i18n="assembly"></h3>
        <span i18n="followUserManualOfYourSeries1780"></span>
        <br/><br/>  
        <h3 i18n="numberOfDivisors"></h3>
        <span i18n="ifYouAreUsingMultiplePieces"></span>
        <br/><br/>
        <h3 i18n="troubleshooting"></h3>
        <p>
          <span i18n="ifYourProbeDoesNotSeemToWork"></span>
          <br/>
          <ul>      
            <li i18n="youCanTestTheProbeByMonitoringTheSensorState"></li>
            <li i18n="ensureProbeisConnectedtoTheMainBoard"></li>
            <li i18n="usingPinStateOfStep1EnsureThatWhite/Reflective"></li>
          </ul>
        <p/>
        <br/>
    <div/>
<div/>