<div id="temperature-popup">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h2 i18n="howToInstallPressureSensor"></h2>
        </br>
        <h3 i18n="whereToBuy"></h3>
        </br>
        <p>
            <span i18n="the"></span>&nbsp;<a href="https://www.rcbenchmark.com/product/rcbenchmark-airspeed-probe/"  target="_blank" style = "text-decoration: underline;" i18n="RCbenchmarkAirspeedProbe"></a> <span i18n="RCbenchmarkAirspeedProbeIntroduction"></span>
        </p>
        </br>
        <h3 i18n="theoryForAirspeedProbe"></h3>
        </br>
        <p i18n="airspeedProbeTip0">
        </p>
        </br>
        <h3 i18n="measurementNoiseLevelPressureMeasurement"></h3>
        </br>
		<span i18n="airspeedIsDisplayedInformation">
        </span>
		</br></br>
        <h3 i18n="installation"></h3>
        </br>
        <p>
        <ul>      
              <li i18n="installationAirspeedTip1"></li>
              <li i18n="installationAirspeedTip2"></li>
              <li i18n="installationAirspeedTip3"></li>
              <li i18n="installationAirspeedTip4"></li>
            </ul>     
        </p>
        </br>
        <h3 i18n="calibration"></h3>
        <p i18n="calibrationTipForAirSpeed"></p>
        </br>
        <div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img width="500px" src="images/pressure_probe_doc_1.svg">
                <figcaption><small i18n="fig1CalibrationProcedure"></small></figcaption>
            </figure>
        </div>
        <p>
		<span i18n="toCalibrateSensor">
		</span>
        </br>
        <ul>      
              <li i18n="toCalibrateSensorTips1"></li>
              <li i18n="toCalibrateSensorTips2"></li>
              <li i18n="toCalibrateSensorTips3"></li>
              <li i18n="toCalibrateSensorTips4"></li>
        </ul>     
        </p>    
    </div>
</div>