
<div id="temperature-popup">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
		<h2 i18n="howToInstallTemperatureProbes"></h2> 
        </br>		
		<h3 i18n="whereToBuy"></h3> 
        <p>
             <span i18n="temperatureProbeCanbePurchased"></span> <a href="https://www.rcbenchmark.com/product/temperature-probe/" target="_blank" style = "text-decoration: underline;"><span i18n="hereForTemperatureProbeCanbePurchased"></span></a>.
        </p>
        </br>
        <h3 i18n="installation"></h3>
        </br>
        <div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/temp_probe_plug.JPG" alt="Fig. 1: Plug temp probe.">
                <figcaption><small i18n="fig1TemperatureProbe"></small></figcaption>
            </figure>
        </div>
        </br>
        <p>
        <ul>      
              <li i18n="connectProbeToCircuit"></li> 
              <li i18n="RestartUSBConnection"></li> 
              <li i18n="RenameProbesToMatch"></li> 
            </ul>     
        </p></br>
<h3 i18n="noteAboutHeatTransfer"></h3>
<p></br>
<span i18n="temperatureNoteTip1"></span>
</p></br>
<div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/esc_temperature.JPG">
                <figcaption><small i18n="fig2TemperatureProbe"></small></figcaption>
            </figure>
        </div></br>
<div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/heat_transfer.png">
                <figcaption><small i18n="fig3TemperatureProbe"></small></figcaption>
            </figure>
        </div></br>
<div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/glued_probe.png">
                <figcaption><small i18n="fig4TemperatureProbe"></small></figcaption>
            </figure>
        </div></br>
<div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/probe_motor.JPG">
                <figcaption><small i18n="fig5TemperatureProbe"></small></figcaption>
            </figure>
        </div>
</br>

<span i18n="applyTemperatureTips"></span>        </br></br>
<h3 i18n="troubleshooting"></h3>
        <p></br>
         <span i18n="troubleshootingForTemperatureProbeTip0"></span> <br></br>
            <ul>      
              <li i18n="troubleshootingForTemperatureProbeTip1"></li>
              <li i18n="troubleshootingForTemperatureProbeTip2"></li>
              <li i18n="troubleshootingForTemperatureProbeTip3"></li>
            </ul>
        </p>
    </div>
</div>